// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: url("/images/pk_body_bg.jpg") repeat-x scroll left top #D8D8D8;
}

body {
  -moz-box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}

body > header {
  background: url("/images/pk_content_bg.jpg") repeat-x scroll left top #FFFFFF;
  height: 140px; // FIXME 160px;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  padding-top: 49px;
  padding-bottom: 1em;
}

body > header > hgroup {
  background: url("/images/pk_logo_bg.jpg") repeat-x scroll left top #EEEEEE;
  height: 144px;
  width: 370px;
  text-align: center;
  padding-top: 20px;
}

div.intro {
  float: left;
  width: 420px;
  text-align: justify;
  margin-right: 90px;
}

body > footer {
  background: none;
  background-color: #888;
  color: #FFF;
  text-shadow: none;
  border-top: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

body > nav form {
  width: 150px;
}
